@model WebApp.ViewModels.DrinkViewModel

<div class="row py-4">
    <div class="col-12">
        <div class="display-4">Add Drink</div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8 offset-0 offset-md-2">
        <form asp-action="AddDrink" method="post">
            <fieldset class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </fieldset>
            <fieldset class="form-group">
                <textarea asp-for="Description" class="form-control" placeholder="Description" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </fieldset>
            <div class="row">
                <div class="col-6">
                    <fieldset class="form-group">
                        <label asp-for="Quantity"></label>
                        <input asp-for="Quantity" class="form-control" placeholder="Quantity" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </fieldset>
                </div>
                <div class="col-6">
                    <fieldset class="form-group">
                        <label asp-for="OverheadCost"></label>
                        <input asp-for="OverheadCost" class="form-control" placeholder="OverheadCost" />
                        <span asp-validation-for="OverheadCost" class="text-danger"></span>
                    </fieldset>
                </div>
            </div>
            
            @* List of spirits here *@
            <div class="row py-4">
                <div class="col-12">
                    <div class="h4 font-weight-normal">Ingredients</div>
                </div>
            </div>

            @for (var i = 0; i < Model.Ingredients.Count; i++)
            {
                <fieldset class="row pb-2">
                    <div class="col-6">
                        <select asp-for="Ingredients[i].SpiritId" class="spiritDropdown form-control" data-ing-id="@i">
                            <option selected val="">Select a spirit</option>
                        </select>
                        <span asp-validation-for="Ingredients[i].SpiritId" class="text-danger"></span>
                    </div>
                    <div class="col-1" data-ing-id="@i">-</div>
                    <div class="col-3">
                        <div class="row">
                            <div class="input-group col-9">
                                <input asp-for="Ingredients[i].Percentage" class="form-control" max="100" min="0" />
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Ingredients[i].Percentage" class="text-danger"></span>
                    </div>
                </fieldset>
                
            }
            
            <button type="submit" class="btn btn-md btn-success">Add Drink</button>
            <button type="reset" class="btn btn-md btn-danger">Reset</button>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            var spirits = [];
            @foreach (var spirit in Model.AllSpirits)
            {
                <text>
                    spirits.push({
                        id: '@spirit.Id',
                        name: '@spirit.Name',
                        price: '@spirit.Price',
                        stock: '@spirit.Stock'
                    });
                </text>
            }

            console.log(spirits);

            $(".spiritDropdown").each((index, element) => {
                $.each(spirits, (index, s) => {
                    $(element).append(`
                        <option value="${s.id}" data-price="${s.price}" >${s.name}</option>
                    `);
                });
            });

            $('.spiritDropdown').on('change', function () {
                var ingId = $(this).data('ing-id');
                var price = $("option:selected", this).data('price');
                $('div[data-ing-id="' + ingId + '"]').text(price);

                return true;
            });
        });
    </script>
}